body {
  margin-bottom: 30px;
}

.portfolioContainer {
  margin: 30px;
  padding: 10px;
  width: auto;
}

.portfolioContainer h1 {
  color: var(--header-color);
  font-size: 2.5rem;
  text-align: center;
  padding: 20px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(19, 5, 5, 0.3);
}

.portfolioContainer h2 {
  font-size: 2rem;
  padding-top: 20px;
  text-align: center;
}

.portfolioList {
  
  display: grid;
}

.portfolioListEl {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  padding: 30px;
  max-width: 30%;
}

.portfolioListEl a {
  font-size: 1rem;
  color: var(--text-color);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 5px;
}

.portfolioListEl a:hover,
.portfolioListEl a:focus {
  color: var(--accent-alt-color);
}
