@import '../../utils/colors.css';

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.homeContainer img {
  -webkit-box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
  box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.homeContainer h1 {
  color: aliceblue;
  font-size: 2.5rem;
  text-align: center;
}

.homeText {
  color: var(--text-color);
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .homeContainer {
    padding: 4rem;
  }

  .homeContainer h1 {
    font-size: 3rem;
  }

  .homeText {
    font-size: 1.75rem;
  }
}
