/* Importowanie kolorów */
@import '../../utils/colors.css';

/* Domyślne style dla kontenera */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Dodatkowy padding dla wszystkich urządzeń */
}

/* Styl dla obrazka */
.homeContainer img {
  -webkit-box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
  box-shadow: 0px 6px 16px 3px rgba(66, 68, 90, 1);
  border-radius: 20px;
  width: 100%; /* Obrazek ma zawsze pełną szerokość kontenera */
  height: auto; /* Zachowaj proporcje */
}

/* Styl dla nagłówka h1 */
.homeContainer h1 {
  color: aliceblue;
  font-size: 36px; /* Rozmiar dla komputerów */
}

/* Styl dla tekstu */
.homeText {
  color: var(--text-color);
  padding: 20px;
  font-size: 18px; /* Rozmiar dla komputerów */
}

/* Media queries dla tabletów (min-width: 768px) */
@media (min-width: 768px) {
  .homeContainer {
    padding: 40px; /* Zwiększony padding dla tabletów */
  }

  .homeContainer h1 {
    font-size: 48px; /* Zwiększony rozmiar dla tabletów */
  }

  .homeText {
    font-size: 24px; /* Zwiększony rozmiar dla tabletów */
  }
}

/* Media queries dla większych ekranów (min-width: 1024px) */
@media (min-width: 1024px) {
  .homeContainer {
    max-width: 800px; /* Maksymalna szerokość dla większych ekranów */
    margin: 0 auto; /* Wycentrowanie na większych ekranach */
  }

  .photoContainer {
    display: flex;
    gap: 10px;
    margin: 10px;
  }
}
