@import '../../utils/colors.css';

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.contactContainer h1 {
  color: aliceblue;
  font-size: 36px;
}

.contactInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contactItem {
  display: flex;

  align-items: center;
  justify-content: center;
}

.contactItem img {
  width: 20%;
  padding: 20px;
}
.contactItem a {
  font-size: 150%;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.contactItem a:hover {
  color: var(--accent-alt-color);
}
