@import '../../utils/colors.css';

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contactContainer h1 {
  color: aliceblue;
  font-size: 36px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.contactItemImg {
  width: 15%;
  padding: 20px;
  fill: var(--text-color);
  color: var(--text-color);
}

.contactItem a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 250%;
}

.contactItem a:hover {
  color: var(--accent-alt-color);
}
