body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(306deg, rgb(56, 0, 80), #290338, #290338);
  background-size: 180% 180%;
  animation: gradient-animation 30s ease infinite;
  margin: 0;
  height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.h1 {
  color: #c18dd5;
}

h2 {
  color: #d5a6bd;
}
