@import '../utils/colors.css';

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(306deg, rgb(56, 0, 80), #290338, #290338);
  background-size: 180% 180%;
  animation: gradient-animation 30s ease infinite;
  margin: 0;
  height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.h1 {
  margin: 40px auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: var(--header-color);
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(19, 5, 5, 0.3);
}

h2 {
  color: #d5a6bd;
}
