:root {
  --text-color: #ffffff;
  --header-color: #aec4cb;
  --header2-color: #17b9eb;
  --accent-color: #002c44;
  --accent-light-color: #62d9fd;
  --accent-alt-color: #00b6de;
  --shadow-box-color: #333741;
}
